# https://www.raspberrypi.org/documentation/linux/usage/systemd.md

[Unit]
Description=mlock-onprem
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/mlock-onprem/mlock-onprem
WorkingDirectory=/usr/local/mlock-onprem/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=300
User=pi

[Install]
WantedBy=multi-user.target